* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #20212A;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
}

canvas {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
}

.botones-acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-warning {
  background-color: #ffc107;
  color: #333;
  border: 3px solid #ff9105;
}

.btn-warning:hover {
  background-color: #ff9105;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: 3px solid #003bee;
}

.btn-primary:hover {
  background-color: #003bee;
}

.resultado-prediccion {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 4rem;
}
